/*
CSS for the Project 4, Problem 2 States component

Since CSS uses a global name space for classes we should use names starting with
states- here.
*/

.state-update {
    border: 10px solid #add8e6;
    font-size: 15px;
    font-family: Arial Rounded MT Bold, monospace;
}