.header-update {
    border: 5px dashed pink;
}

.header-update h1{
    border: 10px solid #add8e6;
    font-size: 60px;
    font-family: Arial Rounded MT Bold, monospace;
    color: #ff00ff;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px #000000;
}

.header-update h2{
    color: #ff0000;
    border: 5px dashed #FFFF00;
}

.header-update p{
    color: #008000;
    border: 3px solid #E6E6FA;
}

.header-update h1:hover{
    background-color: red;
    color: goldenrod;
    cursor: pointer;
}

.header-update h2:hover{
    background-color: yellow;
    color: deepskyblue;
    cursor: pointer;
}

.header-update p:hover{
    background-color: greenyellow;
    color: mediumvioletred;
    cursor: grab;
}